html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("images/headphones-1000x563.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron {
    background-color: transparent;
    height: 100%;
}

.container {
    text-align: center;
    padding-top: 130px;
    padding-right: 700px;
    min-width: 950px;
}

.logo {
    height: 120px;

}

img {
    width: 260px;
    height: auto;
}

.lead {
    white-space: nowrap;
}

@media only screen and (max-width: 800px) {
    img {
        width: 130px;
        height: auto;
    }
    
    .logo {
        height: 60px;
    }

    .lead {
        font-size: 1rem;
    }
  }

@media only screen and (max-width: 670px) {
    .lead {
        font-size: 0.8rem;
    }
}  

.btn {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    text-transform: capitalize;
}

.btn-danger {
    background-color: #007bff;
    border-color: #095ab1;
}

.btn-danger:hover {
    background-color: green;
    border-color: rgba(0, 41, 128, 0.658);
    border-width: 3px;
}